@media only screen and (max-width: 1260px) {
    .business {
        .business_home {
            margin: 16px 16px 0 16px;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .home_card {
        &_top {
            .cards {
                overflow: visible;
            }
            
            .swiper-slide {
                width: 264px;
            }

            .cards_item {
                h3 {
                    font-size: 16px;
                    line-height: 24px;
                }

                .main-text {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .cards_item_pink {
                .main-text {
                    min-height: 64px;
                }
            }
        }

        .home_card_pagination {
            display: block;
            height: 2px;
            background: rgba(72, 60, 51, 0.04);
            margin-bottom: 24px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .contact {
        .main_container {
            gap: 30px;
        }

        .contact_map {
            min-width: 300px;
        }

        .contact_network  {
            .contact_network_messenger {
                .contact_messanger_btn {
                    padding: 14px 15px;
                }
            }

        }
    }

    .reviews {
        .based_reviews {
            width: 315px;
        }
    }
}

@media only screen and (min-height: 1200px) and (max-width: 992px) {
    .card_modal {
        &_content {
            display: flex;
            align-items: center;
        }
    }
}

@media only screen and (max-height: 1200px) and (max-width: 992px) {
    .card_modal {
        &_content {
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .alert-info {
        font-size: 16px;
        line-height: 24px;
    }

    .main-text {
        font-size: 14px;
        line-height: 20px;
    }

    .sec_title {
        font-size: 18px;
        line-height: 28px;
    }

    .accordion {
        &_head {
            padding: 16px 20px;
            gap: 10px;

            span {
                font-size: 16px;
                line-height: 24px;
            }
        }
        
        &_body {
            p {
                font-size: 16px;
                line-height: 24px;
                padding: 0 24px 16px;
            }
        }
    }

    .main_title {
        margin-top: 10px;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }

    .breadcrumbs {
        gap: 0;
        li {
            .breadcrumbs_index {
                display: none;
            }

            span {
                display: none;
            }

            a {
                display: flex;
                align-items: center;
                gap: 8px;
                img {
                    display: block;
                }
            }
        }
    }

    #home {
        .main_title {
            span {
                font-size: 22px;
                font-weight: 500;
                line-height: 32px;
                transform: translate(0px, 0px)
            }
        }
    }

    .home_card {
        &_bottom {
            flex-direction: column;

            .card_left {
                width: 100%;

                .main-text {
                    max-width: 100%;

                    a {
                        font-style: 16px;
                        line-height: 24px;
                    }
                }
            }

            .card_right {
                width: 100%;
            }
        }
    }

    .final_price {
        margin: 90px 0 224px;

        .main_container {
            padding: 44px 16px 170px;
        }

        .main_title {
            margin-bottom: 44px;
        }

        .catalog_card {
            overflow: visible;
            margin-bottom: 24px;

            .swiper-slide {
                width: 200px;
            }

            &__item {
                height: 200px;

                &__main_img {
                    transform: scale(.8) translate(50px, 50px);
                }

                &:hover {
                    .catalog_card__item__main_img {
                        transform: scale(1) translate(50px, 50px);
                    }
                }
            }
        }

        .catalog_card__paginate {
            margin-bottom: 24px;
            height: 2px;
            background: rgba(72, 60, 51, 0.04);
        }

        .inputs {
            flex-direction: column;
            margin: 0 0 14px;
            max-width: 100%;

            .input-dark {
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }

        .checkbox_wrap {
            margin: 0;
        }

        .connect {
            flex-direction: column;
            padding: 24px 20px 20px;
            align-items: center;

            &_left {
                gap: 20px;
                align-items: flex-start;

                .icon {
                    .whatsapp {
                        left: 4px;
                        top: 30px;
                    }
                }
            }

            &_right {
                margin-top: 32px;
                flex-direction: column;
                width: 100%;

                .btn_orange-light {
                    width: 100%;
                }
            }
        }
    }

    .comment {
        .main_title {
            margin-top: 0;
        }
    }

    .card_modal {
        &_content {
            width: calc(100% - 32px);
            height: 100vh;
            padding: 32px 0;
        }

        .comment_card_item {
            width: 100%;

            &__head {
                margin-bottom: 14px;
            }

            &__foot {
                flex-direction: column;
                gap: 14px;

                .before, .after {
                    width: 100%;
                    height: 323px;
                    border-radius: 24px;
                    overflow: hidden;
                }
            }
        }
    }

    .faq {
        margin: 90px 0 0;
        padding: 44px 0 90px;

        .main_title {
            margin-top: 0;
        }

        .faq_bg {
            display: none;
        }
    }

    .contact {
        .main_container {
            margin-bottom: 90px;
            flex-direction: column;
            justify-content: center;
            max-width: 448px;
            gap: 52px;

            .contact_left_text {
                margin-top: 24px;
                display: block;
                color: $main_color;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
    
                a {
                    color: #5187F1;
                    font-weight: 500;
                }
            }


            .contact_left_in {
                h6 {
                    margin-top: 24px;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }

                a {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }

                span {
                    display: none;
                }
            }

            .contact_map {
                max-width: 100%;
                min-height: 320px;

                iframe {
                    position: absolute;
                    width: 100%;
                    max-height: 100% !important;
                    height: 100% !important;
                }

                a {
                    display: flex;
                }
            }

            .contact_network {
                .contact_network_messenger {
                    flex-direction: column;

                    .contact_messanger_btn {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .contact_messanger_btn_right {
                        margin-right: 0;
                    }
                }
            }

            .contact_company_info {
                ul {
                    padding: 16px;
                }
            }

            .contact_company_info_head {
                padding: 14px 24px;

                h4 {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

        }
    }

    .price {
        .price_home {
            flex-direction: column-reverse;
            align-items: center;
            gap: 32px;
            
            p {
                max-width: 100%;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            .btn_orange-light {
                width: 100%;
            }
        }

        .tab_body {
            .list_group_title {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 24px;
            }

            .list_group_item {
                padding: 16px 24px;
            }

            span {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            .list_group_price {
                display: flex;
                align-items: end;
                flex-direction: column-reverse;
                b {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }

                span {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 14px;
                }
            }
        }

        .services_text {
            margin: 90px 0;
            flex-direction: column;
            gap: 32px;
        }

        .services_text_left {
            .services_contact {
                display: none;
            }
        }

        .services_text_right {
            p {
                margin-bottom: 20px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .services_contact {
                margin-top: 12px;
                display: block;
                 
                a {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                .address {
                    margin-top: 14px;
                }
            }
        }
    }

    .delivery {

        .final_price {
            margin: 90px 0 0 0;
        }

        .home_card_bottom {
            margin: 52px 0;
        }

        .main_title {
            img {
                width: 38px;
                height: 32px;
            }
        }

        .delivery_text_title {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }

        .delivery_text {
            margin: 20px 0 90px 0;
            flex-direction: column;
            gap: 52px;
        }

        .delivery_text_left {
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        .delivery_text_right {
            margin-left: auto;
            a {
                display: block;
                margin-top: 20px;
            }
            
        }
    }

    .services {
        .services_cards {
            margin-top: 32px;
        }

        .services_card {
            width: calc(100% / 3 - 16px);   
        }

        .services_text {
            margin: 90px 0;
            flex-direction: column;
            gap: 32px;
        }

        .services_text_left {
            .services_contact {
                display: none;
            }
        }

        .services_text_right {
            p {
                margin-bottom: 20px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .services_contact {
                margin-top: 12px;
                display: block;
                 
                a {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                .address {
                    margin-top: 14px;
                }
            }
        }
    }

    .services_item {

        .services_item_bg {
            display: none;
        }

        .services_home {
            background-image: none;

            h6 {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 32px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 32px;
            }

            .services_item_home_img {
                display: none;
            }
        }

        .services_item_info {
            margin-bottom: 90px;
            margin-top: 52px;
        }

        .services_item_info_link {
            display: none;
        }

        .services_item_info_text {
            max-width: 100%;

            h6 {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }

    .error {
        margin-top: 200px;
        img {
            max-width: 100%;
        }
        .error_text {
            p {
                margin-top: 16px;
            }
        }
    }

    .policy {
        margin-bottom: 90px;
        .main_container {
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 0;
                margin-top: 20px;
            }

            .policy_text_first {
                margin-top: 24px;
            }
        }
    }

    .reviews {
        .tabs_in {
            flex-direction: column-reverse;
        }

        .based_block  {
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .list_card_wrapper_in {
            gap: 44px 24px !important;
        }

        .list_card_wrapper {
            width: calc(100% / 3 - 16px);
        }

        .user_name {
            h6 {
                font-size: 16px;
                line-height: 24px;
            }
            
            span {
                font-size: 14px; 
                line-height: 20px;
            }
        }

        .list_pagination {
            margin-bottom: 0;
        }

        .card_text {
            font-size: 14px;
            line-height: 20px;
        }

        .list_group {
            gap: 32px 0;
        }

        .services_text {
            margin: 90px 0;
            flex-direction: column;
            gap: 32px;
        }

        .services_text_left {
            .services_contact {
                display: none;
            }
        }

        .services_text_right {
            p {
                margin-bottom: 20px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .services_contact {
                margin-top: 12px;
                display: block;
                 
                a {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                .address {
                    margin-top: 14px;
                }
            }
        }
    }

    .comment_card_item__foot {
        .before {
            flex: 1;
        }

        .after {
            flex: 2;
        }
    }
    
    .about {
        .services_text {
            margin: 90px 0;
            flex-direction: column;
            gap: 32px;
        }

        .services_text_left {
            .services_contact {
                display: none;
            }
        }

        .services_text_right {
            p {
                margin-bottom: 20px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .services_contact {
                margin-top: 12px;
                display: block;
                 
                a {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                .address {
                    margin-top: 14px;
                }
            }
        }
    }

    .business {

        .services_item_info  {
            margin-top: 52px;
            margin-bottom: 90px;
            .main_container {
                display: block;
            }
        }

        .services_item_info_text {
            max-width: 100%;
        }

        .link_block_bottom {
            display: none;
        }

        .business_home {
            .main_container {
                border-radius: 24px;
                background-image: url('../images/busines_mobile_home_bg.png');
                flex-direction: column;
                // background-color: transparent;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            .services_item_form {
                flex-direction: column;
                align-items: start;

                .input-light, button {
                    width: 100%;
                }
            }

            .business_home_left {
                padding: 0;

                p {
                    margin: 24px 0 32px 0;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

            .business_home_right {
                width: 100%;
                display: flex;
                justify-content: end;
                .business_desktop {
                    display: none;
                }

                .business_mobile {
                    transform: translateX(16px);
                    margin-left: auto;
                    display: block;
                }
            }

        }

        .services_item_info_text {
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            h6 {
                margin-top: 32px;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
            }

            ul {
                li {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    } 

    .footer {
        background-image: url('../images/footer_media_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;

        .footer_wrapper {
            .footer_circle {
                display: none;
            }
    
            .main_container {
                flex-direction: column;
                align-items: start;
    
                .footer_menu {
                    .footer_link {
                        flex-direction: column;
                        align-items: start;
                        gap: 14px;
                        margin-bottom: 32px;
                    }
        
                    .footer_link_bottom {
                        display: none;
                    }
                }
    
                .footer_network {
                    margin-bottom: 32px;
                    margin-left: auto;
                }
    
                .footer_media_link {
                    display: block;
    
                    li {
                        margin-bottom: 14px;
                        span {
                            color: rgba(255, 255, 255, 0.44);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
    
                        a {
                            color: $white;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .discount {
        .main_title {
            margin-top: 0;
        }

        &_bg {
            background-position: left bottom;
        }

        &_cards {
            flex-direction: column;
            align-items: center;
            gap: 14px;
            padding-bottom: 52px;
        }
    }
    
    .breadcrumbs {
        position: relative;
        z-index: 1;
        margin-top: 86px;
    }

    .services {
        .services_cards {
            gap: 24px;
        }

        .services_card {
            width: calc(100% / 2 - 12px);   

            span {
                margin-top: 16px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }

    .services_item {
        .services_home {
            .services_item_form {
                margin-bottom: 52px;
                flex-direction: column;

                .input-light {
                    width: 100%;
                }
                
                input {
                    display: block;
                    width: 100%;
                }

                button {
                    width: 100%;
                }
            }
        }
    }

    .error {
        margin-bottom: 64px;
        .main_container {
            flex-direction: column;
            margin: 0 16px;
            padding: 0;
        }
        .error_text {
            padding: 24px 16px 32px 16px;
            margin-top: 70px;
            position: static;
            width: 100%;
        }

        .main_title {
            margin-top: 0;
        }
    }

    .reviews {
        .list_group_item {
            width: calc(100%);
        }
    }
}

@media only screen and (max-width: 576px) {
    .comment_card_item {
        &__head {
            .user_name {
                font-size: 16px;
                line-height: 24px;
            }

            .date {
                font-size: 14px;
                line-height: 20px;
            }
        }

        p {
            font-size: 14px;
            line-height: 20px; 
            -webkit-line-clamp: 5;
        }
    }

    .tab {
        &_body {
            .list_group {
                a {
                    padding: 16px 20px;
                    gap: 10px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    #home {
        .main_container {
            padding-top: 124px;
        }

        .bg_1, .bg_2, .bg_3 {
            display: none;
        }

        .bg {
            display: none;
            position: static;
            width: calc(100% + 32px);
            transform: translateX(-16px);
            top: auto;
            right: auto;
        }

        .bg.media {
            display: block;
        }

        .main_title {
            margin: 8px 0 28px;
        }

        .get_price {
            &__fields {
                flex-direction: column;

                .input-light {
                    width: 100%;

                    input {
                        width: 100%;
                    }
                }

                .btn_orange {
                    width: 100%;
                }
            }
        }
    }

    .home_card {
        margin: 0 0 90px;
        padding: 52px 0;

        &_bottom {
            .card_left {
                padding: 24px 32px 32px;
            }

            .card_right {
                height: 220px;
                background: $pink-04;

                img {
                    bottom: -31px;
                    left: 45%;
                }
            }
        }
    }

    .home_price {
        &__head {
            justify-content: space-between;
        }
    }

    .comment {
        &_head {
            flex-direction: column;
            gap: 14px;
            margin-bottom: 24px;

            &_in {
                width: 100%;
                justify-content: space-between;
            }
        }

        .network {
            width: 100%;
            justify-content: center;
        }

        &_card_paginate {
            margin-top: 24px;

            .count {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    .discount {
        .card_item {
            width: 100%;

            .subtitle {
                font-size: 14px;
                line-height: 20px;
            }

            .title {
                font-size: 16px;
                line-height: 24px;
            }

            &__foot {
                gap: 14px;

                a {
                    white-space: nowrap;
                    padding: 14px;
                }
            }
        }
    }

    .price {
        .price_home {
            img {
                width: 100%;
            }
        }
    }

    .services {
        .services_card {
            width: calc(100%); 
            
            img {
                border-radius: 24px;
                height: 144px;
                object-fit: cover;
            }
        }
    }

    .reviews {

        .tab_right {
            width: 100%;
        }
        .based_reviews {
            width: 100%;
        }

        .list_card_wrapper {
            a {
                padding: 0;
            }
        }
    }
}

// @media only screen and (max-width: 360px) {}