* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  background: #FFFEFC;
}

a {
  color: inherit;
  display: inline-block;
}

span, label {
  display: inline-block;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.btn_gray, .btn_orange-light, .btn_orange {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 32px;
  color: #062433;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 18px;
  background: var(--dark-4, rgba(72, 60, 51, 0.04));
}
.btn_gray span, .btn_orange-light span, .btn_orange span {
  color: #062433;
}
.btn_gray:hover, .btn_orange-light:hover, .btn_orange:hover {
  background: var(--dark-12, rgba(72, 60, 51, 0.12));
}

.btn_orange {
  background: #FC7327;
  color: #fff;
  font-weight: 500;
}
.btn_orange:hover {
  background: #FF8C4C;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}
.btn_orange:active {
  border-radius: 18px;
  border: 2px solid #FC7327;
  background: #FF8C4C;
  padding: 12px 30px;
}

.btn_orange-light {
  background: #FBD8C7;
}
.btn_orange-light:hover {
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}
.btn_orange-light:active {
  background: var(--White-White-Primary, #FFF);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.14) inset, 0px 0px 1px 0px rgba(0, 0, 0, 0.24) inset;
}

.input-light, .input-dark {
  position: relative;
}
.input-light label, .input-dark label {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 23px;
  color: var(--Black-Black-Tertiary, rgba(6, 36, 51, 0.32));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: 0.2s ease all;
}
.input-light input, .input-dark input {
  border-radius: 18px;
  border: 1px solid var(--Black-Black-Primary, #062433);
  background: var(--White-White-Primary, #FFF);
  padding: 14px 24px;
  color: #062433;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 52px;
  width: 100%;
}
.input-light input::-moz-placeholder, .input-dark input::-moz-placeholder {
  color: var(--Black-Black-Tertiary, rgba(6, 36, 51, 0.32));
}
.input-light input::placeholder, .input-dark input::placeholder {
  color: var(--Black-Black-Tertiary, rgba(6, 36, 51, 0.32));
}
.input-light input:focus, .input-dark input:focus {
  border: 1px solid #FC7327;
}
.input-light:hover input, .input-dark:hover input {
  border: 1px solid #FC7327;
}

.input-light.active label, .active.input-dark label {
  top: 6px;
  font-size: 12px;
  line-height: 18px;
}
.input-light.active input, .active.input-dark input {
  padding-top: 20px;
  padding-bottom: auto;
}

.input-dark label {
  color: rgba(255, 255, 255, 0.44);
}
.input-dark input {
  border-radius: 18px;
  border: 1px solid #FFF;
  background: #25201C;
  color: #fff;
}

.input-dark.active label {
  top: 6px;
  font-size: 12px;
  line-height: 18px;
}
.input-dark.active input {
  padding-top: 20px;
  padding-bottom: auto;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  width: auto;
  cursor: pointer;
  gap: 14px;
}
.checkbox img {
  display: none;
}
.checkbox img:first-child {
  display: block;
}
.checkbox input {
  display: none;
}
.checkbox span {
  color: rgba(255, 255, 255, 0.44);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.checkbox span a {
  color: #fff;
}

.checkbox.active img {
  display: block;
}
.checkbox.active img:first-child {
  display: none;
}

.alert-info {
  border-radius: 8px;
  background: #E5EBFF;
  padding: 2px 16px;
  color: #062433;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  display: inline-block;
}

.main_title {
  color: #062433;
  font-size: 52px;
  font-weight: 500;
  line-height: 68px;
}

.sec_title {
  color: #062433;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}

.main-text {
  color: #062433;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.tab_head {
  margin-bottom: 32px;
}
.tab_head_in {
  border-radius: 18px;
  border: 1px solid var(--Black-Black-Primary, #062433);
  background: var(--White-White-Primary, #FFF);
  width: 603px;
  display: flex;
  gap: 4px;
  padding: 4px;
}
.tab_head_in button {
  border-radius: 16px;
  padding: 10px 28px;
  font-weight: 500;
}
.tab_head_in button.active {
  background: #FBE7DD;
  color: #FC7327;
}
.tab_body .list_group {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  border: 1px solid #DCCFC6;
  overflow: hidden;
  background: #FFFEFC;
}
.tab_body .list_group a {
  width: 100%;
  padding: 28px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #062433;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.tab_body .list_group a:hover {
  background: #FDF8F6;
}
.tab_body .list_group a:hover svg path {
  stroke: #FC7327;
}
.tab_body .list_group li:not(:last-child) a {
  border-bottom: 1px solid #DCCFC6;
}

.accordion {
  border-radius: 18px;
  border: 1px solid #DCCFC6;
}
.accordion_head {
  padding: 28px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.accordion_head span {
  color: #062433;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.accordion_head span.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion_head span.icon svg {
  transition: 0.2s ease all;
}
.accordion_head span.icon img {
  display: none;
}
.accordion_head:active span.icon svg {
  transform: rotateZ(180deg);
}
.accordion_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.accordion_body p {
  color: rgba(6, 36, 51, 0.72);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 32px 28px;
}
.accordion:hover {
  border: 1px solid #483C33;
  background: #FDF8F6;
}
.accordion:hover .accordion_head span.icon svg path {
  stroke: #FC7327;
}

.accordion.active {
  border-radius: 18px;
  background: #FFFEFC;
  box-shadow: 0px 8px 24px 0px rgba(76, 35, 11, 0.24);
  border: none;
}
.accordion.active .accordion_head span.icon svg {
  display: none;
}
.accordion.active .accordion_head span.icon img {
  display: block;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

#home .main_container {
  padding-top: 314px;
  position: relative;
}
#home .bg_1 {
  position: absolute;
  top: 141px;
  left: 171px;
  z-index: -1;
}
#home .bg_2 {
  position: absolute;
  top: 0;
  left: 374px;
  z-index: -1;
}
#home .bg_3 {
  position: absolute;
  z-index: -1;
  top: 52px;
  right: -83px;
}
#home .bg {
  position: absolute;
  right: -83px;
  top: 102px;
  z-index: -1;
}
#home .alert-info {
  margin-bottom: 8px;
}
#home .main_title {
  margin-bottom: 44px;
}
#home .main_title span {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  display: inline-block;
  transform: translate(-7px, -20px);
}
#home .get_price__fields {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 18px;
}

.home_card {
  background: #FDF8F6;
  margin: 72px 0 100px;
  padding: 72px 0;
}
.home_card_top {
  margin-bottom: 24px;
}
.home_card_top .cards_item {
  border-radius: 24px;
  background: #FCF1EC;
  padding: 24px;
}
.home_card_top .cards_item h3 {
  color: #062433;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 14px;
}
.home_card_top .cards_item .main-text {
  color: rgba(6, 36, 51, 0.72);
  margin-bottom: 24px;
}
.home_card_top .cards_item .cards_item__foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
.home_card_top .cards_item .cards_item__foot img {
  flex-shrink: 0;
}
.home_card_top .cards_item .cards_item__foot .btn_orange-light {
  width: 100%;
}
.home_card_top .cards_item_pink {
  background: linear-gradient(180deg, #FD7428 0%, #C65008 100%);
}
.home_card_top .cards_item_pink h3 {
  color: white;
}
.home_card_top .cards_item_pink .main-text {
  color: var(--White-White-Secondary, rgba(255, 255, 255, 0.8));
}
.home_card_bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 24px;
  background: #FCF1EC;
}
.home_card_bottom .card_left {
  padding: 44px 24px 44px 52px;
}
.home_card_bottom .card_left .sec_title {
  max-width: 401px;
  margin-bottom: 22px;
}
.home_card_bottom .card_left .main-text {
  color: rgba(6, 36, 51, 0.72);
  max-width: 400px;
}
.home_card_bottom .card_left a {
  color: #FC7327;
  font-weight: 500;
}
.home_card_bottom .card_right {
  background-image: url("../images/home_card_right_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  width: 648px;
  height: 262px;
  position: relative;
  padding: 24px;
  display: flex;
  align-items: flex-end;
}
.home_card_bottom .card_right img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home_card_bottom .card_right .alert-info {
  position: relative;
  box-shadow: 0px 6px 32px 0px rgba(76, 35, 11, 0.08), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}

@media only screen and (min-width: 768px) {
  .home_card .swiper-wrapper {
    display: flex;
    gap: 24px;
  }
  .home_card .swiper-wrapper .swiper-slide {
    width: calc(25% - 18px);
  }
}
.home_price__head {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.final_price {
  background-image: url("../images/final_price_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 120px 0 170px;
}
.final_price .main_container {
  position: relative;
  padding: 64px 0 114px;
}
.final_price .main_title {
  color: #fff;
  max-width: 710px;
  text-align: center;
  margin: 0 auto 64px;
}
.final_price .catalog_card {
  margin-bottom: 64px;
}
.final_price .catalog_card__item {
  position: relative;
  border-radius: 24px;
  background: #25201C;
  overflow: hidden;
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  cursor: pointer;
}
.final_price .catalog_card__item__main_img {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.2s ease all;
}
.final_price .catalog_card__item label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.final_price .catalog_card__item input[type=checkbox] {
  display: none;
}
.final_price .catalog_card__item .icon {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
}
.final_price .catalog_card__item .icon img:last-child {
  display: none;
}
.final_price .catalog_card__item:hover .catalog_card__item__main_img {
  transform: scale(1.1);
}
.final_price .catalog_card__item:active .catalog_card__item__main_img {
  transform: scale(1);
}
.final_price .catalog_card__item.active {
  border: 2px solid #FC7327;
  padding: 22px;
}
.final_price .catalog_card__item.active .icon img {
  display: none;
}
.final_price .catalog_card__item.active .icon img:last-child {
  display: block;
}
.final_price .inputs {
  display: flex;
  gap: 14px;
  max-width: 766px;
  margin: 0 auto 14px;
}
.final_price .inputs input {
  width: 300px;
}
.final_price .checkbox_wrap {
  max-width: 766px;
  margin: 0 auto;
}
.final_price .connect {
  position: absolute;
  bottom: 0;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: linear-gradient(180deg, #FD7428 0%, #C65008 100%);
  box-shadow: 0px 8px 24px 0px rgba(76, 35, 11, 0.24);
  width: 100%;
  transform: translateY(50%);
  padding: 24px 24px 24px 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.final_price .connect_left {
  display: flex;
  align-items: center;
  gap: 46px;
}
.final_price .connect_left .icon {
  position: relative;
}
.final_price .connect_left .icon .whatsapp {
  position: absolute;
  left: 30px;
  top: 4px;
}
.final_price .connect_left h3 {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.final_price .connect_left h3 span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.final_price .connect_right {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media only screen and (min-width: 992px) {
  .final_price .catalog_card .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .final_price .catalog_card .swiper-slide {
    width: calc(25% - 18px);
  }
}
.comment_head {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.comment_card {
  overflow: visible;
}
.comment_card .swiper-slide {
  width: 282px;
}
.comment_card .card_item__head_wrapper {
  border-radius: 24px;
  background: #FDF8F6;
  padding: 24px;
}
.comment_card .card_item__head {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.comment_card .card_item__head .user_name {
  color: #062433;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.comment_card .card_item__head .date {
  color: #062433;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.comment_card .card_item p {
  color: rgba(6, 36, 51, 0.72);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.comment_card .card_item .more {
  color: #FC7327;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.comment_card .card_item__foot {
  display: flex;
  margin-top: 18px;
}
.comment_card .card_item__foot img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
}
.comment_card .card_item__foot .alert-info {
  position: relative;
}
.comment_card .card_item__foot .before {
  position: relative;
  width: 100px;
  height: 144px;
  display: flex;
  align-items: flex-end;
  padding: 14px;
}
.comment_card .card_item__foot .after {
  position: relative;
  width: 182px;
  height: 144px;
  display: flex;
  align-items: flex-end;
  padding: 14px;
}
.comment_card_paginate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}
.comment_card_paginate button {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background: #FBE7DD;
  flex-shrink: 0;
}
.comment_card_paginate button:not(.swiper-button-disabled) {
  background: #FC7327;
}
.comment_card_paginate button:not(.swiper-button-disabled) svg path {
  stroke: white;
}
.comment_card_paginate button:not(.swiper-button-disabled):hover {
  background: #FF8C4C;
}
.comment_card_paginate button:not(.swiper-button-disabled):active {
  background: #FF8C4C;
  border: 2px solid #FC7327;
}
.comment_card_paginate .prev_btn svg {
  transform: rotateZ(90deg);
}
.comment_card_paginate .next_btn svg {
  transform: rotateZ(-90deg);
}
.comment_card_paginate .count {
  color: #062433;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq {
  margin-top: 120px;
  background: #FDF8F6;
  padding: 64px 0 120px;
  position: relative;
}
.faq_main_bg {
  position: absolute;
  top: -48px;
  right: 0;
}
.faq .main_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 72px;
  position: relative;
  z-index: 1;
}
.faq .main_title {
  margin-bottom: 32px;
}
.faq .accordion:not(:last-child) {
  margin-bottom: 14px;
}

.discount {
  position: relative;
  background: #FDF8F6;
}
.discount_bg_1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.discount_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/discount_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.discount .main_container {
  position: relative;
}
.discount .main_title {
  text-align: center;
}
.discount .main_title span {
  background: var(--Gradient, linear-gradient(180deg, #FD7428 0%, #C65008 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 18px;
}
.discount .sec_title {
  text-align: center;
  margin-bottom: 32px;
}
.discount_cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding-bottom: 72px;
}
.discount .card_item {
  border-radius: 24px;
  background: #FBE7DD;
  padding: 24px;
  width: 378px;
}
.discount .card_item .subtitle {
  color: rgba(6, 36, 51, 0.72);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.discount .card_item .title {
  color: #062433;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 14px;
}
.discount .card_item__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.discount .card_item__foot img {
  flex-shrink: 0;
}
.discount .card_item__foot a {
  width: 100%;
}

.header {
  background-color: #FDF8F6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .main_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 44px;
}
.header .header_blur {
  height: 120px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  background: var(--01-transition, linear-gradient(180deg, #FCF7F4 0%, rgba(250, 247, 245, 0) 100%));
}
.header .logo {
  min-width: 220px;
  position: relative;
  z-index: 2;
}
.header .logo .header_logo_desktop {
  position: absolute;
  top: 0;
  left: 0;
}
.header .logo .header_logo_media {
  display: none;
}
.header .buttons {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
}
.header .header_menu {
  width: calc(100% - 255px);
  position: relative;
  z-index: 1;
}
.header .header_select {
  width: 264px;
  position: relative;
  z-index: 2;
}
.header .mobile_header_select {
  display: none;
}
.header .header_select_wrap {
  position: relative;
}
.header .header_select_wrap.active {
  z-index: 4;
}
.header .header_select_wrap.active .header_select {
  border-radius: 18px;
  background: #FBE7DD;
}
.header .header_select_wrap.active .header_select img {
  transform: rotateZ(180deg);
}
.header .header_select_wrap.active .header_select_list {
  background: #FDF8F6;
  border-radius: 18px;
  box-shadow: 0px 8px 24px 0px rgba(76, 35, 11, 0.24);
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.header .header_select_list {
  position: absolute;
  display: none;
  padding-top: 66px;
}
.header .header_select_list .list_content {
  display: flex;
  flex-direction: column;
  max-height: 240px;
  overflow-y: scroll;
}
.header .header_select_list .list_content::-webkit-scrollbar {
  width: 2px;
  position: absolute;
  background: #F6F0EE;
  right: 6px;
  transform: translateX(6px);
}
.header .header_select_list .list_content::-webkit-scrollbar-thumb {
  background: #483C33;
  border-radius: 10px;
}
.header .header_select_list button {
  display: flex;
  background-color: transparent;
  padding: 8px 24px;
  gap: 8px;
  align-items: center;
  width: 100%;
}
.header .header_select_list button span {
  color: #062433;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header .header_select_list button img {
  display: none;
}
.header .header_select_list button:hover {
  background: rgba(72, 60, 51, 0.04);
}
.header .header_select_list button.active {
  background: rgba(72, 60, 51, 0.04);
}
.header .header_select_list button.active img {
  display: block;
}
.header .header_select_list button.active span {
  color: var(--Black-Black-Tertiary, rgba(6, 36, 51, 0.32));
}
.header .header_phone {
  display: flex;
  align-items: start;
  gap: 8px;
  padding-top: 14px;
  width: 182px;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}
.header .header_phone .header_phone_in {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.header .header_phone .header_phone_in a {
  color: #062433;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .header_phone .header_phone_in a:hover {
  color: #FC7327;
}
.header .header_phone .header_phone_in a:hover svg path {
  stroke: #FC7327;
}
.header .header_phone .header_phone_in span {
  color: var(--Black-Black-Tertiary, rgba(6, 36, 51, 0.32));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header .header_phone svg {
  position: relative;
  z-index: 1;
}
.header .header_phone__social_media {
  position: absolute;
  border-radius: 0px 0px 18px 18px;
  background: var(--Pink-01, #FDF8F6);
  width: calc(100% + 32px);
  padding: 81px 16px 24px;
  top: -192px;
  left: -16px;
  transition: 0.2s ease all;
}
.header .header_phone__social_media .time {
  border-radius: 8px;
  background: var(--Pink-02, #FCF1EC);
  text-align: center;
  padding: 8px;
  color: var(--Black-Black-Primary, #062433);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.header .header_phone__social_media ul {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.header .header_phone:hover .header_phone__social_media {
  box-shadow: 0px 8px 24px 0px rgba(76, 35, 11, 0.24);
  top: 0;
}

.list_content_bg {
  display: none;
}

.list_content_bg.active {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: var(--Overlay, rgba(72, 60, 51, 0.72));
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}
.menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Overlay, rgba(72, 60, 51, 0.72));
}
.menu__content {
  position: relative;
  background: var(--Pink-01, #FDF8F6);
  box-shadow: 8px 0px 24px 0px rgba(76, 35, 11, 0.24);
  transition: 0.2s ease all;
  height: 100%;
  width: 453px;
  left: -453px;
  padding: 24px 24px 52px 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__content__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.menu__content__head h2 {
  color: #062433;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}
.menu__content__head button {
  border-radius: 18px;
  background: #FBE7DD;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__content__top__links {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  overflow: hidden;
}
.menu__content__top__links .link {
  color: var(--Black-Black-Primary, #062433);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transform: 0.2s ease all;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 14px;
}
.menu__content__top__links .link:hover {
  color: #FC7327;
}
.menu__content__top__links__child {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  background: var(--Pink-01, #FDF8F6);
  transition: 0.3s ease all;
}
.menu__content__top__links__child.active {
  left: 0;
}
.menu__content__bottom {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menu__content__bottom li {
  display: flex;
  flex-direction: column;
}
.menu__content__bottom li a {
  color: var(--Black-Black-Primary, #062433);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.menu__content__bottom li span {
  color: var(--Black-Black-Tertiary, rgba(6, 36, 51, 0.32));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.menu__content__bottom .btn_gray, .menu__content__bottom .btn_orange, .menu__content__bottom .btn_orange-light {
  display: none;
}

.menu.active {
  display: block;
}
@keyframes menuBgActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu.active .menu__bg {
  animation: menuBgActive 0.2s linear 1;
}
@keyframes contentActive {
  0% {
    left: -453px;
  }
  100% {
    left: 0;
  }
}
.menu.active .menu__content {
  left: 0;
  animation: contentActive 0.2s linear 1;
}

.menu.noActive {
  display: block;
}
@keyframes menuBgNoActive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.menu.noActive .menu__bg {
  opacity: 0;
  animation: menuBgNoActive 0.2s linear 1;
}

@media only screen and (max-width: 992px) {
  .header .buttons {
    flex-direction: column;
    gap: 0;
  }
  .header .header_menu {
    width: 100%;
  }
  .header .header_select_wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .header .header_select_wrap .header_select {
    display: none;
  }
  .header .header_select_wrap .mobile_header_select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 14px 24px;
  }
  .header .header_select_wrap .mobile_header_select span {
    color: var(--Black-Black-Primary, #062433);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  .header .header_select_wrap .mobile_header_select button {
    width: 52px;
    height: 52px;
    border-radius: 18px;
    background: var(--Pink-03, #FBE7DD);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header_select_wrap .mobile_header_select button img {
    display: block;
  }
  .header .header_select_wrap .header_select_list {
    position: static;
    padding-top: 0;
  }
  .header .header_select_wrap .header_select_list button {
    padding: 14px 24px;
  }
  .header .header_select_wrap .header_select_list .list_content {
    min-height: 312px;
  }
  .menu__content__bottom .btn_gray, .menu__content__bottom .btn_orange, .menu__content__bottom .btn_orange-light {
    margin-top: 18px;
    display: block;
  }
  .menu__content__bottom .btn_gray span, .menu__content__bottom .btn_orange span, .menu__content__bottom .btn_orange-light span {
    color: #062433;
  }
}
@media only screen and (max-width: 768px) {
  .header .main_container {
    align-items: center;
    gap: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .header .header_blur {
    height: 72px;
  }
  .header .buttons {
    margin-top: 0;
  }
  .header .logo {
    min-width: 52px;
  }
  .header .logo .header_logo_media {
    display: block;
  }
  .header .logo .header_logo_desktop {
    display: none;
  }
  .header .header_phone {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .menu__content {
    padding: 24px 16px 32px;
    width: 308px;
  }
  .menu__content__head h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .menu__content__bottom li a {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer {
  background-color: #483C33;
}/*# sourceMappingURL=style.css.map */