* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
}
// colors
$main_color: #062433;
$main_btn: #FC7327;
$btn_two: #FBE7DD;


$header_bg: #FDF8F6;
$footer_bg: #483C33;

a {
    color: inherit;
}

input::focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

.main_container {
    max-width: 1232px;
    padding: 0 16px;
    margin: 0 auto;
}















@import './scss/header';
@import './scss/footer';
@import './scss/responsive';